set titlecolor yellow,black	# foregroundColorCode,backgroundColorCode
set numbercolor yellow,black	# white, black, blue, green, red, cyan, yellow, magenta
set statuscolor red,black
set keycolor white,black
#set functioncolor yellow,black

set autoindent			# Enabling Auto Indentation
set linenumbers			# Displaying Line Numbers
set mouse			# Enabling Mouse Navigation
set softwrap			# Enable Word Wrapping
