set autoindent		# Enabling Auto Indentation
set linenumbers		# Displaying Line Numbers
set mouse			# Enabling Mouse Navigation
#	set smooth			# Enable Smooth Scrolling
set softwrap		# Enable Word Wrapping


## by default there are no colors, except for errorcolor.
#	set titlecolor white,black
#	set statuscolor white,green

#	set errorcolor white,red
#	set selectedcolor white,magenta
set numbercolor orange

# Bar help 
set keycolor cyan
#	set functioncolor white
