@media (prefers-color-scheme: dark) {
    :root, *:not(a) {
        color: #eeeeec !important;
        background-color: #2d2d2d !important;
        line-height: 150% !important;
        font-family: "Junicode Light", sans-serif !important;
        font-weight: 300;   /* 400 */
        font-feature-settings: 'lnum'; /* Active les chiffres Lining */
        font-variant-numeric: lining-nums; /* Utilise les chiffres Lining */
        /*font-size: clamp(8px, 1rem, 1vw + 1rem) !important;*/
    }
    
    a { color: #76b2f0 !important; }
}
