@media (prefers-color-scheme: dark) {
    :root, *:not(a) {
        color: #eeeeec !important;
        background-color: #2d2d2d !important;
        line-height: 150% !important;
        font-family: "Source Code Pro Light" !important;
        font-size: clamp(8px, 1rem, 1vw + 1rem) !important;
    }
    
    a { color: #76b2f0 !important; }
}
